AWSTemplateFormatVersion: 2010-09-09
Description: This CloudFormation template creates the CICD pipeline to build the DRAGEN container

Parameters:
  ArtifactBucket:
    Description: Amazon S3 bucket where the DRAGEN artifact resides
    Type: String
  ArtifactKey:
    Description: Amazon S3 key where the DRAGEN zip artifact resides
    Type: String
  ServiceName:
    Description: Name of the service/batch job.
    Type: String
  Repository:
    Description: URI for the docker repository in Amazon ECR
    Type: String
  WaitHandle:
    Description: CloudFormation WaitHandle. This gets triggered once the build is complete
    Type: String

Resources:
  CodeBuildServiceRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
        - Effect: Allow
          Principal:
            Service: codebuild.amazonaws.com
          Action: sts:AssumeRole
      Policies:
      - PolicyName: root
        PolicyDocument:
          Version: 2012-10-17
          Statement:
          - Resource: '*'
            Effect: Allow
            Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            - ecr:GetAuthorizationToken
          - Resource: !Sub arn:aws:s3:::${ArtifactBucket}/*
            Effect: Allow
            Action:
            - s3:GetObject
            - s3:PutObject
            - s3:GetObjectVersion
          - Resource: !Sub arn:aws:ecr:${AWS::Region}:${AWS::AccountId}:repository/${Repository}
            Effect: Allow
            Action:
            - ecr:GetDownloadUrlForLayer
            - ecr:BatchGetImage
            - ecr:BatchCheckLayerAvailability
            - ecr:PutImage
            - ecr:InitiateLayerUpload
            - ecr:UploadLayerPart
            - ecr:CompleteLayerUpload
  CodePipelineServiceRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
        - Effect: Allow
          Principal:
            Service: codepipeline.amazonaws.com
          Action: sts:AssumeRole
      Policies:
      - PolicyName: root
        PolicyDocument:
          Version: 2012-10-17
          Statement:
          - Resource:
            - !Sub arn:aws:s3:::${ArtifactBucket}/*
            - !Sub arn:aws:s3:::${ArtifactBucket}
            Effect: Allow
            Action:
            - s3:*
          - Resource: '*'
            Effect: Allow
            Action:
            - codebuild:StartBuild
            - codebuild:BatchGetBuilds
            - iam:PassRole
            - logs:*
  CodeBuildProject:
    Type: AWS::CodeBuild::Project
    DependsOn:
    - CodeBuildServiceRole
    Properties:
      Name: !Sub ${AWS::StackName}-BuildProject
      Artifacts:
        Type: CODEPIPELINE
      Source:
        Type: CODEPIPELINE
        BuildSpec: |
          version: 0.2
          phases:
            pre_build:
              commands:
                - sudo apt-get update && sudo apt-get install -y curl
                - ls -al
                - cd ${SERVICE_NAME}
                - ls -al
                - $(aws ecr get-login)
                - TAG=${SERVICE_NAME}
            build:
              commands:
                - docker build --tag ${REPOSITORY_URI}:${TAG} .
            post_build:
              commands:
                - docker push ${REPOSITORY_URI}:${TAG}
                - printf '{"tag":"%s"}' $TAG > ../build.json
                - curl -X PUT -H 'Content-Type:' --data-binary '{"Status":"SUCCESS","Reason":"Container Build Complete","UniqueId":"ID1234","Data":"Build has completed."}' "${WAIT_HANDLE}"
          artifacts:
            files: build.json
      Environment:
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/docker:1.12.1
        Type: LINUX_CONTAINER
        EnvironmentVariables:
        - Name: AWS_DEFAULT_REGION
          Value: !Ref AWS::Region
        - Name: SERVICE_NAME
          Value: !Ref ServiceName
        - Name: REPOSITORY_URI
          Value: !Sub ${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${Repository}
        - Name: WAIT_HANDLE
          Value: !Ref WaitHandle
      ServiceRole: !Ref CodeBuildServiceRole
      TimeoutInMinutes: 120
  Pipeline:
    Type: AWS::CodePipeline::Pipeline
    DependsOn:
    - CodePipelineServiceRole
    Properties:
      RoleArn: !GetAtt CodePipelineServiceRole.Arn
      ArtifactStore:
        Type: S3
        Location: !Ref ArtifactBucket
      Stages:
      - Name: Source
        Actions:
        - Name: App
          ActionTypeId:
            Category: Source
            Owner: AWS
            Version: 1
            Provider: S3
          OutputArtifacts:
          - Name: App
          RunOrder: 1
          Configuration:
            S3Bucket: !Sub ${ArtifactBucket}
            S3ObjectKey: !Sub ${ArtifactKey}app/packages/${ServiceName}/${ServiceName}.zip
      - Name: Build
        Actions:
        - Name: Build
          ActionTypeId:
            Category: Build
            Owner: AWS
            Version: 1
            Provider: CodeBuild
          Configuration:
            ProjectName: !Ref CodeBuildProject
          InputArtifacts:
          - Name: App
          OutputArtifacts:
          - Name: BuildOutput
          RunOrder: 1

Outputs:
  PipelineUrl:
    Value: !Sub https://console.aws.amazon.com/codepipeline/home?region=${AWS::Region}#/view/${Pipeline}
  ServiceStack:
    Value: !Sub ${AWS::StackName}-Service
